:root {
  --secondary: #9b3d5b;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Slab", serif;
  --grey: #b3b3b3;
}
summary {
  list-style: none;
  font-size: 25px;
  text-align: right;
  padding: 0 20px;
}
nav a {
  display: block;
  color: black;
  font-family: var(--font-secondary);
  font-size: 1.6rem;
  padding: 15px 30px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}
button {
  border: none;
  background: white;
}
header {
  border-bottom: solid 2px #d1d1d1;
}
.btn {
  min-width: 120px;
  height: 40px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0 20px;
}
.btn-primary {
  background: var(--secondary);
  color: white;
}
.link {
  text-transform: uppercase;
  color: var(--secondary);
  text-decoration: underline;
  font-size: 1.6rem;
  margin: 10px 0;
  display: inline-block;
}
.menu {
  color: black;
  list-style: none;
  text-decoration: none;
  position: relative;
}
.header-nav.is-active {
  left: 0;
}
.header-logo {
  padding: 10px;
  height: 60px;
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 250px;
}
.shopping-cart {
  padding: 0 20px;
  margin-top: 10px;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}
.shopping-cart p {
  color: var(--secondary);
  font-size: 1.4rem;
  font-family: var(--font-primary);
  text-transform: uppercase;
}
.shoppign-cart-icon {
  font-size: 25px;
}
.container-banner {
  overflow: hidden;
}
.banner-wrap {
  display: flex;
  height: 400px;
}
.banner {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-wrap {
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  padding: 0 15px;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  height: 300px;
}
.carousel-wrap picture {
  scroll-snap-align: center;
  width: 300px;
}
.carousel-wrap img {
  width: 250px;
}
footer {
  text-transform: uppercase;
  font-family: var(--font-secondary);
}
footer h3 {
  font-size: 1.8rem;
  margin-top: 30px;
  font-weight: 700;
}
footer a,
footer label {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  color: #000;
}
footer ul,
footer form {
  margin-top: 10px;
}
.contact {
  padding: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
main {
  margin-top: 20px;
}
.hash-tag {
  text-align: center;
  padding: 10px 20px;
}
.hash-tag h3 {
  font-size: 2.6rem;
}
.social-media {
  background: #ddd;
  padding: 20px;
  text-align: center;
  font-size: 2.6rem;
}
.social-media h3 {
  font-family: var(--font-primary);
  font-weight: 400;
}
.social-media a {
  color: #000;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 10px;
}
.input input {
  border: solid 1px var(--grey);
  border-right: transparent;
  height: 40px;
  padding: 0 10px;
}
.input input::placeholder {
  text-transform: uppercase;
}
.input button {
  border: solid 1px var(--grey);
  border-left: transparent;
  height: 40px;
  width: 40px;
  background: #fff;
}
.category-product-item {
  display: block;
  border-bottom: solid 2px#d1d1d1;
  padding: 20px;
}
.category-product-item h2 {
  padding: 0 20px;
  text-align: center;
  font-family: var(--font-secondary);
  color: black;
  font-size: 2rem;
}
.category-product-item h3 {
  font-family: var(--font-secondary);
  font-size: 1.8rem;
  text-align: center;
  color: var(--secondary);
}
.product-heart {
  text-align: right;
}
.product-heart i {
  font-size: 25px;
  color: rgb(199, 199, 199);
}

.product-view-description {
  padding: 20px;
}
.product-view-description h2 {
  font-size: 2rem;
  font-family: var(--font-secondary);
  color: var(--grey);
  text-transform: uppercase;
}
.product-view-description h3 {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  color: var(--secondary);
  font-size: 1.7rem;
}
.product-view-description h4 {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  color: var(--grey);
}
.product-view-description h5 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.product-description {
  padding: 20px;
}
.product-description h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: black;
  border-bottom: solid 1px;
  border-bottom: solid 2px#d1d1d1;
  margin: 20px 0;
}
.product-description p {
  font-size: 1.6rem;
  color: grey;
}
.product-mini {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 5px;
  border-top: solid 2px #d1d1d1;
}
.product-mini img {
  width: 50px;
}
.product-color img {
  width: 70px;
}
.tallas {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.tallas button {
  border-radius: 0;
  background: var(--grey);
  width: 50px;
  height: 50px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons i {
  font-size: 25px;
}
.product.carousel-wrap {
  height: 400px;
}
.product.carousel-wrap .category-product-item {
  border: none;
  scroll-snap-align: center;
}
.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.category-lateral {
  display: none;
}
@media screen and (min-width: 768px) {
  summary {
    display: none;
  }
  .header-nav details ul {
    display: flex;
  }
  .Header .content-wrap {
    display: flex;
    padding: 30px 0;
  }
  nav a {
    padding: 0 20px;
  }
  .category-product-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .carousel-wrap {
    overflow-x: hidden;
  }
  .carousel-wrap img {
    width: 100%;
  }
  .contact {
    display: flex;
  }
  .contact > div {
    width: 25%;
  }
  .contact li {
    padding-top: 10px;
  }
  .header-options {
    max-width: 300px;
  }
  .Header .content-wrap {
    justify-content: space-between;
  }
  .category-lateral {
    display: block;
    width: 20%;
    margin: 0 20px;
  }
  .category-options {
    padding: 10px;
    border: solid 2px #d1d1d1;
    margin-top: 20px;
  }
  .category h1 {
    font-size: 2.2rem;
  }
  .category-lateral li {
    font-size: 1.4rem;
    font-family: var(--font-primary);
  }
  .category-lateral h5 {
    font-size: 1.4rem;
    font-family: var(--font-primary);
    text-transform: uppercase;
    margin-top: 20px;
  }
  .category-product-wrap {
    width: 80%;
  }
  .category {
    display: flex;
  }
  .product-view {
    display: flex;
  }
  .product-view > article {
    width: 50%;
  }
}
